<!DOCTYPE html>
<html lang="pt-br" ng-app="BibliotecaApp">
<head>
    <meta charset="UTF-8">
    <title>Autor</title>
    <script src="../../lib/angular.js"></script>
    <script src="../../js/BibliotecaApp.js"></script>
    <script src="../js/autor-listar-controller.js"></script>
    <script src="../js/autor-service.js"></script>
    <script src="../../js/BaseService.js"></script>
    <script src="../../index.html"></script>
    <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
    <script  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"  crossorigin="anonymous"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"  crossorigin="anonymous"></script>
</head>

<body ng-controller="AutorListarController">

<div class="jumbotron" style="border: 1px solid white">
    <a class="btn btn-primary" href="autor-incluir.html">Novo Autor</a>

    <table style="border: 1px solid white">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Livro</th>
        </tr>
        <tr ng-repeat="autor in autores">
            <td style="border: 1px solid white;">{{autor.nome}}</td>
            <td style="border: 1px solid white;">{{autor.dataNascimento}}</td>
            <td style="border: 1px solid white;">{{autor.livro.nome}}</td>
            <td style="width: 20%">
                <button class="btn btn-danger btn-block" type="button" ng-click="controller.excluir(autor)">Excluir</button>
                <button class="btn btn-block" type="button" ng-click="controller.alterar(autor)">Alterar</button>
            </td>
        </tr>
    </table>

    <a class="btn btn-block" href="http://localhost:8080/biblioteca/">Voltar</a>

</div>

</body>

</html>