<div class="card col-xl-6 col-md-12">
    <div class="card-body d-flex justify-content-start align-content-center mt-2">
        <h2 class="font-weight-bold">Incluir Categoria</h2>
    </div>

    <form>
        <div class="card-body form-row align-items-center">
            <label class="mr-2" for="inlineFormInput">Nome</label>
            <div class="col-md-9">
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nome da Categoria" ng-model="categoria.nome">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" ng-click="salvar()">Salvar</button>
            </div>
        </div>
    </form>

</div>

