<div class="card col-xl-6 col-md-12">

    <div class="card-body d-flex justify-content-between align-content-center mt-4">
        <h2 class="font-weight-bold">CATEGORIAS</h2>
        <a class="btn btn-default" ui-sref="categoriaIncluir"><i class="fa fa-plus"></i></a>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 15%">
                    <span>ID</span>
                </th>
                <th style="width: 50%">
                    <span>Nome</span>
                </th>
                <th style="width: 10%">
                    <span>Ação</span>
                </th>
            </tr>
            <tr ng-repeat="categoria in categorias">
                <td>
                    {{categoria.id}}
                </td>
                <td>
                    {{categoria.nome}}
                </td>
                <td>
                    <a class="btn btn-default" ng-click="excluir(categoria.id)"><i class="fa fa-trash-o text-danger"></i></a> |
                    <a class="btn btn-default" ng-click="alterar(categoria.id)"><i class="fa fa-trash-o text-danger"></i></a>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>