<div class="jumbotron" style="border: 1px solid white">
    <a class="btn btn-primary" ui-sref="editoraIncluir">Nova Editora</a>

    <table style="border: 1px solid white">
        <tr>
            <th>CNPJ</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
        <tr ng-repeat="editora in editoras">
            <td style="border: 1px solid white;">{{editora.cnpj}}</td>
            <td style="border: 1px solid white;">{{editora.nome}}</td>
            <td style="border: 1px solid white;">{{editora.cidade}}</td>
            <td style="border: 1px solid white;">{{editora.estado}}</td>
            <td style="width: 20%">
                <button class="btn btn-danger btn-block" type="button" ng-click="controller.excluir(autor)">Excluir</button>
                <button class="btn btn-block" type="button" ng-click="controller.alterar(autor)">Alterar</button>
            </td>
        </tr>
    </table>

    <a class="btn btn-block" href="http://localhost:8080/biblioteca/">Voltar</a>

</div>
